*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a,ul,ol{
    text-decoration: none !important;
    list-style: none;
    color: inherit !important;
}
img{
    width: 100;
}